files:
    "/etc/cron.d/content_update":
        mode: "000644"
        owner: root
        group: root
        content: |
            */60 * * * * root curl http://localhost/update/rss
            */60 * * * * root curl http://localhost/update/youtube
            */60 * * * * root curl http://localhost/update/twitch
