{% macro show_card(item) %}
<div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="{{ item.url }}" class="ui inverted button">More Details</a>
          </div>
        </div>
      </div>
      <img class="ui small image" alt="Site Logo" src="{{ item.image }}">
    </div>

    <div class="content">
      <a class="header">{{ item.title }}</a>
      <div class="right floated meta">
        {{ item.category}}
      </div>
      <div class="meta">
        <span class="date">Released {{ item.date|strftime}}</span>
      </div>
    </div>
  </div>

{% endmacro %}