{% extends "base.html" %}
{% from "macros/items.html" import show_item with context %}

{% block content %}

<div class="ui centered items">

  <div class="item">
    <div class="image">
      <img src="{{ url_for('static', filename='images/icons/large_')}}{{ data.icon }}">
    </div>
    <div class="middle aligned content">
      <a class="header">{{ data.name }}</a>
      <div class="description">
        <p>{{ data.about }}</p>
      </div>
      <div class="extra">
       {% if data.twitch %}
          <a href="{{ data.twitch.website }}" class="ui purple small label" target="_blank">
            <i class="icon twitch"></i> Stream
          </a>
        {% endif %}
        {% if data.rss %}
          <a href="{{ data.rss.website }}" class="ui grey small label" target="_blank">
            <i class="icon home"></i> Website
          </a>
        {% endif %}
        {% if data.youtube %}
          <a href="{{ data.youtube.website }}" class="ui red small label" target="_blank">
            <i class="icon youtube"></i> YouTube
          </a>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{{ show_item(entries) }}

{% endblock %}


