{% extends "base.html" %}
{% from "macros/items.html" import show_item with context %}

{% block content %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
        <div class="ui massive red icon message">
          <i class="spinner loading icon"></i>
          <div class="content">
            <div class="header">
              {{ message }}
            </div>
          </div>
        </div>
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="ui horizontal divider">
  Last 48 hours
</div>

<div class="ui hidden divider"></div>
{{ show_item(entries) }}

{% endblock %}


