<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux gaming sources in one place!</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" 
          integrity="sha256-ncjDAd2/rm/vaNTqp7Kk96MfSeHACtbiDU9NWKqNuCI=" 
          crossorigin="anonymous" />
  </head>

  <body>
    <div class="ui hidden divider"></div>
    <div class="ui container centered">

      <div class="ui borderless small icon menu">
        <a class="item" href="/">
          <img alt="Site Logo" src="{{ url_for('static', filename='images/logo.png')}}">
        </a>
        <div class="item">
           <i class="ellipsis vertical disabled icon"></i>
        </div>
        <a class="item" href="/search/twitch" data-content="Filter by Twitch">
          <i class="twitch purple link large icon"></i>
        </a>
        <a class="item" href="/search/youtube" data-content="Filter by Youtube">
          <i class="youtube red large icon"></i>
        </a>
        <a class="item" href="/search/article" data-content="Filter by Articles">
          <i class="rss orange large icon"></i>
        </a>
        <a class="item" href="/search/podcast" data-content="Filter by Podcasts">
          <i class="soundcloud blue large icon"></i>
        </a>
        <a class="item" href="/search/gog" data-content="Filter all GoG Games">
          <img class="ui mini bordered image" alt="GoG Logo" src="{{ url_for('static', filename='images/icons/gog.png')}}">
        </a>
        
        <div class="right item">
          <a class="item" href="/search/allthethings" data-title="Show EVERYTHING!" data-content="Good luck rendering this...">
            <i class="exclamation red large icon" ></i>
          </a>
          <div class="item">
            <i class="ellipsis vertical disabled icon"></i>
          </div>
          <div class="ui icon input">
            <input id="search" placeholder="Search..." type="text">
            <i class="search olive icon"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js" integrity="sha256-0gIvTkdsp0OOeV8tx3UTdi3ehppGwZbzQMvZJYhbzsE=" crossorigin="anonymous"></script>
    <script src="https://semantic-ui.com/javascript/library/tablesort.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
