<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux gaming sources in one place!</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}">
  </head>

  <body>
    <div class="ui secondary menu"></div>
    <div class="sub ui centered header"></div>

    <div class="ui container centered">

      <div class="ui borderless small icon menu">
        <a class="item" href="/">

          <img alt="Site Logo" src="{{ url_for('static', filename='images/logo.png')}}">
        </a>
        <div class="item">
           Filter
           <i class="right arrow black large icon"></i>
        </div>
        <a class="item">
          <i class="twitch purple link large icon"></i>
        </a>
        <a class="item">
          <i class="youtube red large icon"></i>
        </a>
        <a class="item">
          <i class="rss orange large icon"></i>
        </a>
        <a class="item">
          <i class="steam black large icon"></i>
        </a>
        <a class="item">
          <i class="bomb red large icon"></i>
        </a>
        <div class="right item">
          <div class="ui icon input">
            <input id="search" placeholder="Search..." type="text">
            <i class="search olive icon"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="ui hidden divider"></div>

    <div class="ui container">
      {% block content %}
      {% endblock %}
    </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://semantic-ui.com/javascript/library/tablesort.min.js"></script>
      <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
